* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

.header {
    background-color: beige;
    padding: 20px 0;
}

.title {
    font-size: 36px;
    text-align: center;
}

.content-wrapper {
    padding: 15px;
}

.nav {
    display: block;
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    color: black;

    & li {
        display: inline-block;
        padding: 5px 10px;

        & a {
            color: black;
            font-size: 18px;
        }
    }
}

.dish-image {
    border-radius: 10px;
}

.sub-title {
    margin: 10px 0;
    text-decoration: underline;
    font-size: 28px;
}

.text-paragraph {
    width: 60vw;
}

.ingredient {
    margin: 10px 20px;
}

.step {
    margin: 20px;
    width: 50vw;
}
